table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

td,
th {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

th {
  background-color: lightgrey;
  text-transform: capitalize;
}

th:hover,
label:hover {
  cursor: pointer;
}

#infinite-list {
  width: 100%;
  height: 25em;
  overflow: auto;
  margin: none;
  padding-left: 0px;
  border-bottom: 1px solid black;
}

.th-service {
  min-width: 160px;
}
.th-destination, .th-source, .th-date {
  min-width: 120px;
}

#table-controls {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}
  